:root {
  --primary-text-color: #757575;
  --black-title-color: #212121;
  --white-title-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Утилиты */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

/* Header-nav */

.header-nav {
  display: flex;
  align-items: center;
}
/* Logo */
.logo-header {
  color: var(--black-title-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
}
.logo-header span {
  color: var(--accent-color);
}

/* Navigation links */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--black-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .current {
  color: var(--accent-color);
  position: relative;
}

.current::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Contacts in the header */

.nav-address {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}
.contact-link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:not(:last-child) {
  margin-right: 30px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-bg-image.jpg);
  background-color: rgb(47, 48, 58);
  background-size: cover;
  background-position: center;

  text-align: center;
}

.hero-title {
  color: var(--white-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 46px;
}

.hero-button {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
}

/* Компетенции */

.competencies {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.competencies-list {
  display: flex;
}
.competencies-list .item {
  width: 270px;
}

.competencies-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* .competencies-list .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  background-repeat: no-repeat;
  background-position: center;
}

.satellite-icon::before {
  background-image: url(../images/satellite-plate.svg);
}

.clock-icon::before {
  background-image: url(../images/clock.svg);
}

.diagram-icon::before {
  background-image: url(../images/diagram.svg);
}

.astronaut-icon::before {
  background-image: url(../images/astronaut.svg);
} */

.competencies-list .item:not(:last-child) {
  margin-right: 30px;
}

.competencies .title {
  color: var(--black-title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.competencies .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

/* Секция с описанием услуг веб-студии */

.activities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--black-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.examples .item:nth-child(3n) {
  margin-right: 0;
}

.examples-box {
  position: relative;
}
.examples .link {
  display: inline-block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;

  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

/* Наша команда */
.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  text-align: center;
}
.team .item {
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-top: 30px;

  background-color: #ffffff;
}

.team .title {
  color: var(--black-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 28px;
}

.team-links {
  display: flex;
}

.team-links .element:not(:last-child) {
  margin-right: 10px;
}

.team-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  text-decoration: none;
  color: inherit;

  border-radius: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links a:hover,
.team-links a:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links a:hover > .social-network-icon,
.team-links a:focus > .social-network-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

/* Постоянные клиенты */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  text-decoration: none;
  color: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: #afb1b8;
}
/* Футер */

footer {
  background-color: #2f303a;
  padding-top: 46px;
}

.main-wrapper {
  display: flex;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
}

.contacts-wrapper {
  width: 230px;
}

.logo-footer {
  color: var(--white-title-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 10px;
}

.logo-footer span {
  color: var(--accent-color);
}

.main-address .text {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--white-title-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.main-address .link {
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-address .link:last-child {
  margin-bottom: 0;
}

.main-address .link:hover,
.main-address .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  display: flex;
  width: 206px;
}

.join-wrapper {
  width: 206px;
}

.join-title {
  margin-bottom: 20px;

  color: var(--white-title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.join .item {
  margin-right: 10px;
}
.join-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  text-decoration: none;
  color: var(--white-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: #ffffff;
}

.join-form {
  width: 570px;
}

.disclaimer {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

/* Кнопки фильтра */

.filter-menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-menu button {
  margin-right: 8px;
  background-color: #f5f4fa;
  color: var(--black-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-menu button:last-child {
  margin-right: 0;
}

.filter-menu button:hover,
.filter-menu button:focus,
.filter-menu button:active {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Список проектов */

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* outline: 2px solid red;  */
}
.products .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products .item:hover,
.products .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products .item:nth-child(3n) {
  margin-right: 0;
}
.products .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.products a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card {
  border-radius: 5px;
  overflow: hidden;
}

.card-content {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--black-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 0;
  margin-top: 0;
}

.product-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  color: var(--white-title-color);

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.product-box {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.products .item:hover .product-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
